@media screen and (max-width: 500px) {
  .toolbar {
    background-color: white;
    color: #281b24;
    height: 80px;
  }
}

@media screen and (min-width: 500px) {
  .toolbar {
    background-color: white;
    color: #281b24;
    height: 150px;
  }
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
  min-width: 500px !important;
}
