<mat-toolbar class="border-x justify-between toolbar">
  <!-- Logo -->
  <a
    routerLink="home"
    class="md:ml-14 sm:ml-8 sm:block hidden lg:text-5xl md:text-4xl text-3xl my-5 font-extrabold font-title hover:border border-orange rounded p-2"
    >Scarborough Food Network</a
  >
  <a
    routerLink="home"
    class="md:ml-20 ml-12 sm:hidden block my-5 font-title font-bold w-14"
    ><img src="assets/logos/icon-bw.png"
  /></a>
  <!-- Menu button -->
  <button
    [matMenuTriggerFor]="menu"
    class="lg:mr-20 md:mr-14 mr-12 text-3xl menu"
    (mouseenter)="menuButton = hover"
    (mouseleave)="menuButton = normal"
  >
    <i class="{{ menuButton }}"></i>
  </button>
  <!-- Menu -->
  <mat-menu #menu="matMenu" class="font-title menu">
    <!-- header -->
    <div class="p-3 divide-y divide-solid">
      <!-- button -->
      <div class="flex justify-between px-3">
        <button routerLink="login" class="text-storm p-3 hover:text-deep-royal">
          Login
        </button>
        <button
          routerLink="signup"
          class="text-storm p-3 hover:text-deep-royal"
        >
          Sign up
        </button>
      </div>
      <div class="pt-3 flex flex-col justify-center">
        <button
          routerLink="needhelp"
          class="bg-orange font-bold text-white py-3 hover:bg-sunshine rounded"
        >
          Looking for food
        </button>
        <button
          routerLink="canhelp"
          class="bg-orange hover:bg-sunshine font-bold text-white py-3 my-5 rounded"
        >
          Trying to help
        </button>
      </div>

      <div class="pt-3 flex flex-col justify-center">
        <button
          routerLink="faq"
          class="bg-slate-200 rounded-md text-black p-3 my-5 hover:bg-slate-300"
        >
          Got Questions?
        </button>
      </div>
      <div class="flex justify-center">
        <button
          routerLink="portal"
          class="text-deep-royal hover:border-black bord p-3"
        >
          Staff Portal
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
