<mat-toolbar class="border-x justify-between toolbar">
  <!-- Logo -->
  <a
    routerLink="home"
    class="md:ml-20 sm:ml-8 sm:block hidden lg:text-5xl md:text-4xl text-3xl my-5 font-title font-bold"
    >Scarborough Food Network</a
  >
  <a
    routerLink="home"
    class="md:ml-20 sm:ml-8 ml-5 sm:hidden block my-5 font-title font-bold w-14"
    ><img src="assets/logos/icon-bw.png"
  /></a>
  <!-- Menu button -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="lg:mr-20 md:mr-8 mr-5"
  >
    Menu
  </button>
  <!-- Menu -->
  <mat-menu #menu="matMenu" class="">
    <!-- header -->
    <div class="p-3 divide-y divide-solid">
      <!-- button -->
      <div class="flex justify-between px-3">
        <button routerLink="login" class="text-storm p-3">Login</button>
        <button routerLink="signup" class="text-storm p-3">Sign up</button>
      </div>
      <div class="pt-3 flex flex-col justify-center">
        <button
          routerLink="needhelp"
          class="bg-sunshine font-bold text-white py-3"
        >
          Looking for food
        </button>
        <button
          routerLink="canhelp"
          class="bg-orange font-bold text-white py-3 my-5"
        >
          Trying to help
        </button>
      </div>

      <div class="pt-3 flex flex-col justify-center">
        <button routerLink="faq" class="bg-slate-400 text-white p-3 my-5">
          Got Questions?
        </button>
      </div>
      <div class="flex justify-center">
        <button routerLink="portal" class="text-deep-royal p-3">
          Staff Portal
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
