<div class="flex justify-center items-center h-[70vh] font-title">
    <div class="w-[500px]">
        <div id="reader" width="500px"></div>
        <br>
        <div id="booking-detail" hidden>
            <form
                #announcementForm="ngForm"
                (ngSubmit)="postAnnouncement()"
                class="flex flex-col"
                >
            <mat-card class="w-[500px]">
                <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Booking information</mat-card-title>
                    <mat-card-subtitle>Member Id: 123456789</mat-card-subtitle>
                    <button class="btn hover:bg-orange text-white text-sm font-bold px-2 py-2 m-3 rounded-full bg-sunshine w-[30%]">Check-in</button>
                </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Address: 1911 Kennedy Rd #105, Scarborough<br />
                    Date: Tuesday<br />
                    Time: 11:00 ~ 12:00<br />
                    Allergy: Milk<br />
                    Allergy Detail: Without Milk<br />
                    Not Prefer Food: Apple<br />
                    Remarks: I don't want apple<br />
                </mat-card-content>
            </mat-card>
            </form>
        </div>
    </div>
</div>

