<div class="flex justify-center items-center h-[70vh] font-title">
    <div class="w-[500px]">
        <h4>Scanner</h4>
        <div id="reader" width="500px"></div>
        <br>
        <div id="booking-detail" hidden>
            <mat-card class="w-[500px]">
                <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Booking information</mat-card-title>
                    <mat-card-subtitle>Member Id: 123456789</mat-card-subtitle>
                    <img mat-card-md-image src="../../../assets/images/temp_qrcode.png"  alt="Member Id qrcode">
                </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    Address: ABC Street, Scarborough<br>
                    Date: Tuesday<br>
                    Time: 10:00 ~ 11:00<br>
                    Allergy: N/A<br>
                    Allergy Detail: N/A<br>
                    Not Prefer Food<br>
                    Remarks: hi<br>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

