<div
  class="flex flex-col mx-14 h-[80vh] items-center justify-center font-body bg-gradient-to-r from-cyan-100 to-green-50 rounded-full"
>
  <button
    routerLink="needhelp"
    class="hover:bg-orange text-white lg:text-5xl text-xl font-bold lg:py-8 lg:px-24 p-5 mb-20 rounded-full bg-sunshine animate__animated animate__fadeIn"
  >
    I'm looking for food
  </button>
  <button
    routerLink="canhelp"
    class="hover:bg-orange text-white lg:text-5xl text-xl font-bold lg:py-8 lg:px-24 p-5 rounded-full bg-sunshine animate__animated animate__fadeIn"
  >
    I want to help
  </button>
</div>
