<div class="flex flex-col justify-center items-center h-[70vh] font-title">
  <p class="text-xl font-body">Here's your confirmation..</p>
  <mat-card class="w-[500px]">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Booking information</mat-card-title>
        <mat-card-subtitle>Member Id: 123456789</mat-card-subtitle>
        <img
          mat-card-md-image
          src="../../../assets/images/temp_qrcode.png"
          alt="Member Id qrcode"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Address: 1911 Kennedy Rd #105, Scarborough<br />
      Date: Tuesday<br />
      Time: 11:00 ~ 12:00<br />
      Allergy: Milk<br />
      Allergy Detail: Without Milk<br />
      Not Prefer Food: Apple<br />
      Remarks: I don't want apple<br />
    </mat-card-content>
  </mat-card>
</div>
